services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "${DB_PASSWORD}"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql

  backend:
    build:
      context: .
      dockerfile: Backend/Kieru.Api/Dockerfile
    ports:
      - "5000:80"
    depends_on:
      - db
    restart: on-failure
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=KieruDB;User Id=sa;Password=${DB_PASSWORD};TrustServerCertificate=True

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"

volumes:
  sqlserver_data:
